<div class="container">

  <h2>
    <button type="button" (click)="showAddDialog()" class="waves-effect waves-light btn"
      style="width: 100px ; padding-right: 20px">Add
      <i class="fa fa-plus" aria-hidden="true" style="font-size: large ; float: left"></i>
    </button>
    <button type="button" (click)="deleteAllTasks()" class="waves-effect waves-light btn"
      style="width: 150px ; padding-right: 20px">Delete All
      <i class="fa fa-trash-o" aria-hidden="true" style="font-size: large ; float: right"></i>
    </button>
  </h2>

  <p-table #tasksTable [columns]="cols" [value]="tasks" [responsive]="true" [style]="{'width':'1100'}">

    <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Export Data" (click)="tasksTable.exportCSV()" style="float:right"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns style="align-content: center">
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-task>
      <tr>
        <td style="width: 70% ; text-align: left">{{ task.description }}</td>
        <td style="width: 10% ; text-align: center">{{ task.status }}</td>
        <td style="width: 10% ; text-align: center">
            <button type="button" (click)="completeTask(task.id, task)" class="waves-effect waves-light btn"
              style="width: 50px">
              <i class="fa fa-check" aria-hidden="true" style="font-size: large"></i>
            </button>
        </td>
        <td style="width: 10% ; text-align: center">
          <button type="button" (click)="editTask(task.id, task)" class="waves-effect waves-light btn"
            style="width: 50px">
            <i class="fa fa-edit" aria-hidden="true" style="font-size: large"></i>
          </button>
        </td>
        <td style="width: 10% ; text-align: center">
          <button type="button" (click)="deleteTask(task.id)" class="waves-effect waves-light btn"
            style="width: 50px">
            <i class="fa fa-trash" aria-hidden="true" style="font-size: large"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div *ngIf="tasks !== undefined" style="text-align: left">
          <strong>
            There are {{tasks.length}} tasks left
          </strong>
        </div>
    </ng-template>

  </p-table>

  <p-dialog header="Add Task" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="450">
      <div class="ui-g ui-fluid">
          <div class="ui-g-12">
              <div class="ui-g-4">
                  <label for="descr">Description</label>
              </div>
              <div class="ui-g-8">
                  <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" id="descr" [(ngModel)]="task.description"></textarea>
                </div>
          </div>
      </div>
      <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" (click)="addTask(task)" class="waves-effect waves-light btn"
              style="width: 110px ; padding-right: 20px">Save
              <i class="fa fa-save" aria-hidden="true" style="font-size: large"></i>
            </button>
          </div>
      </p-footer>
  </p-dialog>

</div>
