<div class="container">

  <h2>
    <a [routerLink]="['/task-create']" class="btn btn-success">
      <i class="fa fa-plus"></i>
    </a>
  </h2>

  <p-table #tasksTable [columns]="cols" [value]="tasks" [responsive]="true" [style]="{'width':'1000px'}">

    <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Export Data" (click)="tasksTable.exportCSV()" style="float:right"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-task>
      <tr>
        <td style="width: fit-content">{{ task.description }}</td>
        <td style="width: fit-content">{{ task.status }}</td>
        <td style="width: fit-content ; align-content: center">
          <a [routerLink]="['/task-edit', task.id]">
            <i class="fa fa-edit" aria-hidden="true" style="font-size: large"></i>
          </a>
        </td>
        <td style="width: fit-content ; align-content: center">
          <a [routerLink]="['/task-detail', task.id]">
            <i class="fa fa-trash" aria-hidden="true" style="font-size: large"></i>
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
