<div class="container" align="center">

  <h1>
    <a [routerLink]="['/contacts']" class="btn btn-danger btn-lg">
      <i class="fa fa-spinner fa-pulse fa-5x" aria-hidden="true"></i>
    </a>
  </h1>

  <br>
  <br>
  <br>
  <br>
  <br>

  <h2>Oops! The page you requested was not found.
    <i class="fa fa-frown-o prefix" aria-hidden="true"></i>
  </h2>

  <br>
  <br>
  <br>
  <br>

  <h3>Back to Homepage:
    <a [routerLink]="['/tasks']" class="btn btn-success">
      <i class="fa fa-home fa-5x" aria-hidden="true"></i>
    </a>
  </h3>

</div>
