<div class="card-container">

    <div class="valign-wrapper row">

      <div class="card-panel hoverable">

        <div class="card border-primary mb-3">

          <div class="card-body text-secondary">

            <h2 class="card-title">Edit Task</h2>

            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input type="text" placeholder="Description" id="description" name="description" [(ngModel)]="task.description">
                    </div>
                  </div>
                </form>
            </div>

            <div class="button-save" style="float:right;">
              <button type="button" (click)="updateTask(task.id, task)" class="waves-effect waves-light btn"
                      style="width: 170px ; padding-right: 20px">Save
                      <i class="fa fa-edit" aria-hidden="true" style="font-size: large"></i>
                      <!-- <i class="material-icons right">save</i> -->
              </button>
              <button type="button" (click)="deleteTask(task.id)" class="waves-effect waves-light btn"
                      style="width: 170px">Delete
                      <i class="fa fa-trash" aria-hidden="true" style="font-size: large"></i>
                      <!-- <i class="material-icons right">delete</i> -->
              </button>
            </div>

            <div class="fixed-action-btn" style="bottom: 45px; left: 24px; width: 55.5px">
              <a class="btn-floating btn-large waves-effect waves-light" (click)="goBack()">
                <i class="fa fa-arrow-left" aria-hidden="true" style="font-size: larger"></i>
                <!-- <i class="large material-icons">arrow_back</i> -->
              </a>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
